@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  @apply relative w-full h-[758px];
  background-image: url('/Bgimage.png');
  background-size: cover;
  background-position: center;
}
/* .bage {
  @apply relative w-full h-[900px];
  background-image: url('/Rectangle.png');
  background-size: cover;
  background-position: center;
} */
